{{> navbar}}

<div class="container mx-auto">
    Form users create
</div>

{{#if errorMessage}}
    <div id="alert" class="alert alert-error">
        {{errorMessage}}
    </div>
{{/if}}

<form action="/users/edit/{{data.id}}" method="POST" novalidate class="bg-white shadow rounded px-8 pt-6 pb-8 mb-4" enctype="multipart/form-data">
    {{> forms/user}}
</form>

